[user]
	name = kira-0521
	email = kiratanaka0521@gmail.com

[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        pr = pull
        mr = merge
        fh = fetch
        sw = switch

[core]
  editor = [ $TERM_PROGRAM = "cursor" ] && "code --wait $@" || vim
